@model BlogApp.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Edit Post";
}

<h2>Edit Post</h2>
<hr>
<form asp-controller="Post" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control"></input>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Content" class="control-label"></label>
        <textarea asp-for="Content" class="form-control" id="editor"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
            <option value="">Select a category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Image" class="control-label"></label>
        <input asp-for="Image" class="form-control" type="file" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <div class="mb-3">
            <label>Current Image</label>
            <div>
                <img src="@Model.ImageUrl" class="img-fluid rounded" alt="Current Image" style="max-width: 200px;" />
            </div>
        </div>
    }



    <div class="mb-3">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>


@section Scripts {
    <!-- CKEditor Script -->
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}